body{
    font-family: Arial;
    margin: 0;
}
header{
    background-color: #000000;
}
main {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

nav {
    padding: 0.1em;
    width: 72%;
    margin: auto;
}
nav li {
    display: inline-block;
    padding: 0 0;
    margin-left: 0.5em;
    vertical-align: middle;
}
nav ul {
    padding: 0;
}
nav a {
    text-decoration: none;
    color: #f5f5f5;
}

#top {
    padding: 1em 0;
    margin-bottom: 1em;
    border-bottom: thin solid #e3e3e3;
    text-align: left;
}

#call{
    background-color:#1e62d0;
    border-radius: 0.5em;
    border:0.1em solid #337fed;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:1em;
    font-weight:bold;
    font-style:normal;
    height:3em;
    line-height:1em;
    width:8em;
    text-decoration:none;
    text-align:center;
}
article button {
    background-color:#ffffff;
    border-radius: 0.5em;
    border:0.1em solid #000000;
    display:inline-block;
    font-family:Arial;
    font-size:1em;
    font-weight:bold;
    font-style:normal;
    height:3em;
    line-height:1em;
    width:8em;
    text-decoration:none;
    text-align:center;

}
article {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 32.9%;
}

#centraldiv {
    text-align: center;
    border-style: solid;
    border-color: #e3e3e3;
    border-radius: 0.5em;
    background-color: #f5f5f5;
    padding: 1em;
}

#image {
    display: inline-block;
    width: 63%;
    margin-right: 3%;
    border-radius: 0.5em;
}
footer{
    width: 70%;
    padding: 2em 0;
    margin: auto;
}
